<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">Simple Quiz App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav " style="margin-left:900px;">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/mapel">Mata Pelajaran</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rule">Rules Kuis</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/history">Histori</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>