<div class="d-flex justify-content-between">

    <div style="margin-top: 10rem;">
        <h1>Selamat datang <%= username %>,</h1>
        <h3 style="display: inline;">di Website <span><b>Simple Quiz App</b></span></h3>
        <br>
        <br>
        <h3>Selamat mengerjakan!!!</h3>
        <p>untuk melihat rules kuis klik <a href="/rule">disini</a></p>
        <a href="/mapel" class="btn btn-primary">Mulai kuis</a>
    </div>
    <div>
        <img src="/images/quiz.jpg" alt="quiz">
    </div>
</div>

<!--  -->

