<h2 class="text-center mt-3 ">Mata Pelajaran yang tersedia</h2>
  <div class="d-flex flex-row mt-3 ">
  <% quiz.forEach((element) => { %>
      <div class="card ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= element.nama_mapel %> </h5>
      
          <form action="/quiz/start" class="mt-3"   method="post">
            <input type="hidden" name="id_mapel" value= <%= element.id_mapel %>> 
    
            <!-- mencocokkan/mencari apakah ada _id di collection soal_jawabs/Quiz dengan id_mapel di collection nilais/Nilai dengan id user yang sedang login. Apabila cocok maka button disabled, yang artinya user hanya bisa satu kali mengerjakan soal itu  --> 
            <% if (nilai.some(n => n.id_mapel == element._id )) { %>
                <h6 class="card-subtitle mb-2 text-muted">Sudah anda kerjakan</h6>
                <button type="submit" class="btn btn-primary" disabled ><%=element.nama_mapel %> </button>
              <% } else{%>
                <h6 class="card-subtitle mb-2 text-muted">Belum anda kerjakan</h6>
                <button type="submit" class="btn btn-primary"  ><%=element.nama_mapel %> </button>
              <% } %>
          </form>
        </div>
      </div>
    <% }) %>
  </div>