<div class="card  mt-3">
  <h3 class="card-title text-center">
    Peraturan Mengerjakan Kuis
  </h3>
  <div class="card-body mx-auto">
    <ul class="list-unstyled ml-3">
      <li><b>1.</b> Silahkan memilih mata pelajaran yang ingin dikerjakan.</li>
      <li><b>2.</b> Klik button mata pelajaran dan mulai mengerjakan.</li>
      <li><b>3.</b> Anda tidak dapat berpindah ke halaman sebelumnya jika sudah memulai kuis.</li>
      <li><b>4.</b> Anda hanya dapat mengerjakan setiap mata pelajaran sebanyak satu kali.</li>
      <li><b>5.</b> Jika anda berpindah halaman saat sudah memulai kuis, maka anda akan mendapat nilai hanya dari jawaban yang sudah dijawab sebelum anda berpindah halaman, jadi jangan coba coba berpindah halaman.</li>
      <li><b>6.</b> Apabila sudah selesai mengerjakan dan ingin melihat lulus atau tidak, pergi ke halaman histori </li>
      <li><b>7.</b> Nilai minimum adalah <b>70</b> </li>
      <li><b>8.</b> Tidak ada batasan waktu dalam mengerjakan soal</li>
    </ul>
  </div>
</div>