<div class="card text-center mt-3">

  <div class="card-body">
    <h5 class="card-title">Perolehan Nilai <%= quiz.nama_mapel %> anda</h5>
    <p class="card-text"><%= nilai*10 %> </p>
    <a href="/" class="btn btn-primary">Kembali ke Home</a>
  </div>

</div>